[user]
	email = list@box370.net
	name = henderjon
[core]
	quotepath = false
	autocrlf = input
	fileMode = false
	logallrefupdates = true
	ignorecase = true
	editor = vi
[color]
	ui = true
[help]
	autocorrect = true
[push]
	default = upstream
[pull]
	default = upstream
	ff = true
[merge]
	tool = bc3
	ff = false
	defaultToUpstream = true
[mergetool]
	keepBackup = true
	bc3 = trustExitCode
[mergetool "vimerge"]
	cmd = vim -f -d $LOCAL $MERGED $REMOTE
	trustExitCode = false
	keepBackup = false
[pretty]
	columns = %<(32)%cd %>(16)%an | %><(7)%h | %s
	quick   = %h | %<(15)%an %<(15)%cd %s
[diff]
	tool = bc3
#	tool = diff
[difftool]
	prompt = false
[difftool "diff"]
#	cmd = diff -U 0 $LOCAL $REMOTE
	trustExitCode = false
[alias]
	cl  = log --pretty=columns -20
	rcl = reflog --pretty=columns -20
	vv  = branch -vv
	co  = checkout
	s   = status
[fetch]
	prune = true
[log]
	date = rfc


#-- diff/merge args: $BASE $LOCAL $REMOTE $MERGED
#-- extrenal diff-wrapper params: $PATH $OLD-FILE $OLD-HEX $OLD-MODE $NEW-FILE $NEW-HEX $NEW-MODE
#----------------------------------------------------------------------#
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

branch-name = "!git rev-parse --abbrev-ref HEAD"
publish     = "!git push -u origin $(git branch-name)"
unpublish   = "!git push origin :$(git branch-name)"
