#-- diff/merge args: $BASE $LOCAL $REMOTE $MERGED
#-- diff-wrapper params: $PATH $OLD-FILE $OLD-HEX $OLD-MODE $NEW-FILE $NEW-HEX $NEW-MODE
#----------------------------------------------------------------------#
[user]
	email = list@box370.net
	name = Jon Henderson
[core]
	quotepath = false
	autocrlf = input
	excludesfile = /Users/henderjon/.gitignore_global
	fileMode = false
	logallrefupdates = true
	ignorecase = true
	editor = vi
[color]
	ui = true
[help]
	autocorrect = true
[push]
	default = upstream
[pull]
	default = upstream
	ff = true
[merge]
	tool = bc3
	ff = false
	defaultToUpstream = true
[mergetool]
	keepBackup = true
[mergetool "vimerge"]
	cmd = vim -f -d $LOCAL $MERGED $REMOTE
	trustExitCode = false
	keepBackup = false
[pretty]
	columns = %<(32)%cD %>(16)%an | %><(7)%h | %s
[diff]
	tool = diff
[difftool]
	prompt = false
[difftool "diff"]
	cmd = diff -U 0 $LOCAL $REMOTE
	trustExitCode = false
[alias]
	cl  = log --pretty=columns
	rcl = reflog --pretty=columns
	vv  = branch -vv
[fetch]
	prune = true



